.c-content{
    .c-content-succes{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 300px 30px;
        text-align: center;
        height: 40vh;
    }
}