.project:nth-child(2),
.project:nth-child(3),
.project:nth-child(4),
.project:nth-child(5) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: left;
    overflow-x: hidden;
    .project__content {
        height: 100%;
        width: 90vw;
        margin: 0px;
        border-radius: 5px;
        h1 {
            overflow-wrap: break-word;
            word-wrap: break-word;
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
        }
        ol {
            width: 100%;
            li {
                list-style: none;
            }
        }
    }
}

.project:nth-child(3) {
    .project__content {
        &__details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 50px;
        }
    }
}

.project__landing__background {
    width: 100%;
}
