//MOBILE
@media (min-width: 350px){
    .o-content-title{
        h1{
            font-size: 40px;
        }
    }
}
//TABLET PORTRAIT AND UP
@media (min-width: 750px){
    .o-content{
        padding: 50px;
        p, a{
            font-size: 20px;
        }
        .o-content-container-title{
            font-size: 25px;
        }
        .o-content-container-box{
            margin: 20px 100px;
            h1,h2{
                font-size: 30px;
            }
        }
    }
}
//DESKTOP
@media (min-width: 1024px){
    .o-content{
        padding: 50px 100px;
        .o-content-title{
            h1{
                font-size: 60px;
            }
        }
        .o-content-container{
            .splide{
                padding: 50px 0;
            }
            .o-content-container-title{
                font-size: 35px;
            }
            .o-content-container-box{
                margin: auto;
                align-items: center;
                padding: 50px;
                width: 60%;
                img{
                    width: 100%;
                }
            }
        }
    }
}
@media (min-width: 1440px){    
    .o-content{
        .o-content-container-title{
            font-size: 40px;
        }
        .o-content-container{
            margin-top: 0;
            .o-content-container-box{
                width: 40%;
            }
        }
        .o-content-title{
            margin-bottom: 10px;
            h1,h2{
                font-size: 80px;
            }
        }
    }
}
