//DESKTOP
@media (min-width: 1024px){
    .project:nth-child(2){
        .project__content{
            max-width: 80vw;
            &__image{
                display: inherit;
            }
            ol{
                width: 55%;
            }
        }
    }
}
@media (min-width: 1440px){    
    .project:nth-child(2){
        .project__content{
            max-width: 65vw;
            &__image{
                display: inherit;
                top: 15%;
                right: -150px;
                height: 450px;
                width: 650px;
                img{
                    height: 50vh;                    
                }
            }
            ol{
                width: 45%;
            }
        }
    }
}