//HEADER
.background-img{
    position: relative;    
    object-fit: cover;
    height: 100vh;
    width: 100%;
}
.header-container{    
    img{
        float: right;
        animation: $floating-anim 5s infinite ease-in-out;
        height: 350px; 
    }
}
//INTRO
.i-content{
    img{
        display: inline-block;
        justify-content: center;
        text-align: center;
        margin: 30px auto;  
        width: 100%;      
        outline: 10px solid $intro-img-border-color;
        outline-offset: -10px;
    }
}
//OFFER
.o-content-container-box{
    img{
        width: 100%;
    }
}
//OVER ONS
.oow-content-team-box{
    a{
        img{
            width: 100%;
        }
    }
}

//PROJECTS
//CARD 1 -- BRAINS
.project:nth-child(2), .project:nth-child(3){
    .project__content{
        position: relative;
        &__image{
            display: none;
            height: 320px;
            width: 450px;
            overflow: hidden;
            border-radius: 10px;
            position: absolute;
            top: 25%;
            right: -40px;
            -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            transition: all 1s ease-in-out;
            &:before, &:after{
                content:"";
                -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
                -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
                box-shadow:0 0 20px rgba(0,0,0,0.8);
            }
            img{
                height: 35vh;
                transition: transform .5s ease-in-out;
            }
            img:hover{
                transform: scale(1.2);
            }
        }
    }
}